*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Montserrat-Black";
 
}

body{
  text-align: center;
  background-color: #030727;

}
.app{
  padding: 2rem 1rem;
}
input{
  appearance: none;
  outline: none;
  border: none;
  background-color: #EEE;
  width:100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
button, a{
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  
  color: #0bca0b;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
}

img{
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 2rem auto;
  border-radius: 15px;
}

h1{
  color: rgb(247, 228, 228);
  margin: auto auto 2rem auto;
}